* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 13px/1.6 'Abel', sans-serif;
  color: $black;
  // background: radial-gradient(ellipse at center, $base 0, $darken 70%, $back 100%);
  transition: all .4s .3s ease-in;
}

body,html{
	min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
}

a {
  color: $red-3;

  &:hover,
  &:focus {
    color: $red-2;
    text-decoration: none;
  }
}
