$base : #ffffff;
$darken : darken(#ffffff , 10%);
$back: darken(#ffffff, 20%);

$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$red-1: #ADD5F7;
$red-2: #7FB2F0;
$red-3: #4E7AC7;

// $blue-1: #ADD5F7;
// $blue-2: #7FB2F0;
// $blue-3: #4E7AC7;
// $blue-4: #35478C;
// $blue-5: #16193B;

$yellow: #FFE061;
// $dark-gray: #333333;
$dark-gray: #000000;
$light-gray: #d3d3d3;
$super-light-gray: #efefef;

$carbon-black: #151515;

$red: #e3422c;
$black: #000000;
$white: #ffffff;
$gray: #808080;
$teal: #00bac6;
