@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="project-one container-fluid" role="main">

  <section class="">

      <div class="row">
        <div class="col-12 col-md-5">
          <img class="img-fluid" src="https://picsum.photos/825/700/?random" alt="">
        </div>
        <div class="col-12 col-md-7">
          <h2>Hodor Hodor Hodor</h2>
          <div class="row">
            <div class="col-md-6">
              <p>hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor</p>
            </div>
            <div class="col-md-6">
              <p>hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor</p>
            </div>
          </div>
        </div>
      </div>

  </section>

  <section>
    <div class="row">
      <div class="col-12 col-md-7">
        <h2>Hodor Hodor Hodor</h2>
        <div class="row">
          <div class="col-md-6">
            <p>hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor</p>
          </div>
          <div class="col-md-6">
            <p>hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor hodor</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <img class="img-fluid" src="https://picsum.photos/820/700/?random" alt="">
      </div>
    </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
