@@include('../fixtures/_header.html')
@@include('../fixtures/_project_nav.html')

<main class="project-one project container-fluid" role="main">

  <section class="title">
      <div class="row no-gutter">
        <div class="col-xs-12 col-md-6 img-col">
          <img class="" src="assets/img/aveugle-1@1x.jpg" alt="">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="copy-cont reveal">
            <div class="h4 text-center text-uppercase">Title Of Project + PB Statement</div>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor.
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  Hodor hodor hodor hodor hodor? Hodor hodor - hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor! Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor. HODOR hodor, hodor hodor; hodor hodor?!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


  <section class="research">
    <div class="row no-gutter">
      <div class="col-xs-12 col-md-6 col-md-push-6 img-col fade-late">
        <img class="img-fluid" src="assets/img/temp/temp-2.jpg" alt="">
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-6">
        <div class="copy-cont reveal">
          <div class="h4 text-center text-uppercase">Research + Personas</div>
          <div class="row">
            <div class="col-md-6">
              <p>
                Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor.
              </p>
            </div>
            <div class="col-md-6">
              <p>
                Hodor hodor hodor hodor hodor? Hodor hodor - hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor! Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor. HODOR hodor, hodor hodor; hodor hodor?!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="scope">
      <div class="row no-gutter">
        <div class="col-xs-12 col-md-6 img-col fade-late">
          <img class="img-fluid" src="assets/img/temp/temp-3.jpg" alt="">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="copy-cont reveal">
            <div class="h4 text-center text-uppercase">Scope + Features Prioritization</div>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor.
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  Hodor hodor hodor hodor hodor? Hodor hodor - hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor! Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor. HODOR hodor, hodor hodor; hodor hodor?!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


  <section class="wireframe">
    <div class="row no-gutter">
      <div class="col-xs-12 col-md-6 col-md-push-6 img-col fade-late">
        <img class="img-fluid" src="assets/img/temp/temp-1.jpg" alt="">
      </div>
      <div class="col-xs-12 col-md-6 col-md-pull-6">
        <div class="copy-cont reveal">
          <div class="h4 text-center text-uppercase">Wireframe + User Testing + Iterations</div>
          <div class="row">
            <div class="col-md-6">
              <p>
                Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor.
              </p>
            </div>
            <div class="col-md-6">
              <p>
                Hodor hodor hodor hodor hodor? Hodor hodor - hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor! Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor. HODOR hodor, hodor hodor; hodor hodor?!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="prototype">
      <div class="row no-gutter">
        <div class="col-xs-12 col-md-6 img-col fade-late">
          <img class="img-fluid" src="assets/img/temp/temp-4.jpg" alt="">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="copy-cont reveal">
            <div class="h4 text-center text-uppercase">Prototype and UI</div>
            <div class="row">
              <div class="col-md-6">
                <p>
                  Hodor hodor - hodor, hodor. Hodor hodor hodor hodor hodor?! Hodor hodor, hodor. Hodor hodor HODOR hodor, hodor hodor hodor! Hodor hodor... Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor. Hodor, hodor hodor HODOR hodor, hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor, hodor. Hodor. Hodor, hodor, hodor. Hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor.Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor.
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  Hodor hodor hodor hodor hodor? Hodor hodor - hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor. Hodor! Hodor hodor, HODOR hodor, hodor hodor hodor hodor hodor hodor! Hodor hodor hodor. Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor hodor hodor... Hodor hodor hodor hodor hodor. Hodor, HODOR hodor, hodor hodor; hodor hodor?! Hodor, hodor hodor hodor hodor hodor... Hodor hodor hodor. Hodor hodor hodor. Hodor, HODOR hodor, hodor hodor. HODOR hodor, hodor hodor; hodor hodor?!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

</main>

@@include('../fixtures/_footer.html')
